@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Averta,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $defaultFontColor
}

h1, h2, h3, h4, h5, h6 {
  color: $defaultFontColor
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.success-pad{
  color: green;
}
.cont-style{
  width: 480px;
  margin: 0 auto;
  padding-top: 100px;
}
.data-style{
  padding: 30px;
}

.navbar-default{
  background-color: $bgColor;
}
.btn-success a{
  color: #ffffff !important;
}
.steps-style{
  padding-top: 80px;
  width: 480px;
  margin: 0 auto;
  padding-bottom: 90px;
}
.btn-primary{
  background-color: $primaryColor;
  color: $btnColor;
  border-color: $primaryColor;
  border-radius: $btnRadius;
  font-weight: 900;
  padding: $btnPadding;
  font-size: $fontSize;
  width:$maxWidth;
}
.btn-primary a{
  color: $btnColor
}
.btn-primary:hover:focus:active{
    background-color: $primaryColor;
    color: $btnColor;
    border-color: none;
      outline: none !important;
}

.btn-contact{
    background-color: $primaryColor;
    border-radius: $btnRadius;
    color: $btnColor;
    font-weight: $fontWeight;
    text-decoration: none;
    font-size: $fontSize;

}
.btn-contact a{
  color: $btnColor
}
.btn-contact:hover:focus:active{
  background-color: $primaryColor;
  color: $btnColor;
  border-color: $primaryColor;
  outline: none !important;
}
.btn-success{
  background-color: $btnSuccess;
  border: $btnSuccess;
  border-radius: $btnRadius;
  font-weight: $fontWeight;
  padding: $btnPadding;
  font-size: $fontSize;
  width:$maxWidth;
}
.btn-secondary{
  border-radius: $btnRadius;
  font-weight: $fontWeight;
  padding: $btnPadding;
  font-size: $fontSize;
  background-color: #ededed;
  width:$maxWidth;
}
@media only screen and (max-width: 600px) {
  .steps-style{
    width: 90%;
    margin: 0 auto;
  }
}
.form-control{
border: none;
height: 60px;
position: relative;
padding: 1rem 1rem .1875rem;
width: 100%;
outline: 0;
background-color: #ededed;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   background: #334146;
   padding: 1rem 1.875rem 2.5rem;
  clear: both;
  color: #b2b2b2
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}
