$primaryColor: #06a0e3;
$btnColor: #ffffff;
$defaultFontColor: #212529;
$bgColor: #ffffff;
$btnSuccess: #04de47;
$btnRadius: 19px;
$fontWeight: 900;
$btnPadding: 10px;
$fontSize:12px;
$maxWidth: 100px;
